.card-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &__header {
    align-self: flex-start;
    margin-top: 1.2rem;
    margin-left: 1.2rem;
  }
  &__header-title {
  }
  &__header-button {
    border: none;
  }
  &__body {
    /* padding: 1rem; */
  }
  &__footer {
    padding: 1rem;
  }
  &__footer-button {
    width: 5rem;
    height: 2rem;
  }
}

.card-form__body-number {
  &-label {
    font-size: 0.9rem;
    line-height: 0.88rem;
  }
  &-input:nth-child(1) {
    margin-left: 1rem;
  }
  &-input:nth-child(2n-1) {
    grid-column-start: 1;
    grid-column-end: span 1;

    margin-top: 0.3rem;
    width: 3rem;
  }
  &-input:nth-child(2n) {
    grid-column-start: 2;
    grid-column-end: span 1;

    width: 1rem;
  }
  &-seperator {
    margin: 0.5rem;
  }
}

.card-form__body-expiration {
  &-date-input:nth-child(1) {
  }
  &-date-input:nth-child(2) {
  }
  &-seperator {
  }
}
