.card-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-form__header {
  align-self: flex-start;
  margin-top: 1.2rem;
  margin-left: 1.2rem;
}

.card-form__header-title {
}

.card-form__header-button {
  border: none;
}

.card-form__body {
  /* padding: 1rem; */
}

.card-form__footer {
  padding: 1rem;
}

.card-form__footer-button {
  width: 5rem;
  height: 2rem;
}
